<div class="container">
    <div class="card-columns text-center animated fadeIn">
        <div class="row ">
            <div (click)="viewArtist( item )" *ngFor='let item of items' class="card pointer mb-3"
                style="height: 25rem; width: 15rem; padding: .5rem;">
                <img [src]="item.images | noimage" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>

                    <p class="card-text">
                        <span *ngFor="let art of item.artists" class="badge rounded-pill bg-success">{{art.name}}</span>
                    </p>
                    <p class="card-text">
                        {{item.release_date | date}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>